<footer class="bd-footer" role="contentinfo">
  <div class="container">

    <div class="col-sm-4">

100 mtrs sur del Supercoop en Esquipulas<br>
Palmares, Alajuela, Costa Rica<br>
Tel: +506-2452-2650<br>

<a href="mailto:contacto@vinapalmares.com">contacto@vinapalmares.com</a>

    </div>
    <hr>
    
  </div>
</footer>




<script src="/assets/js/tether.min.js"></script>
<script src="/assets/js/flickity.pkgd.min.js"></script>
<script src="/assets/js/bootstrap-material-design.iife.min.js"></script>
<script src="/assets/js/contact-form.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

<script>
  $(function() {
    $('body').bootstrapMaterialDesign()
  })
</script>
