<header class="navbar  navbar-static-top bd-navbar" role="banner">
  <nav class="col-xs-12 p-r-0">

    <a class="navbar-brand" href="/">
      <img src="/assets/i/vina_lg.png" style="height:42px;" alt="" /></a>
    </a>

    <button class="navbar-toggler pull-xs-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation">
      ☰
    </button>



    <div class="collapse navbar-toggleable-md" id="bd-main-nav">
      <ul class="nav nav-tabs ">
        <li class="nav-item">


          <a class="nav-link {% if page.url == '/quienes-somos.html' %} active{% endif %}" href="/quienes-somos.html">Quienes Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  {% if page.url == '/ministerios.html' %} active{% endif %}" href="/ministerios.html">Ministerios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/celebraciones.html' %} active{% endif %}" href="/celebraciones.html">Celebraciones</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if page.url == '/contacto.html' %} active{% endif %}" href="/contacto.html">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/donaciones.html' %} active{% endif %} " href="/donaciones.html">Donaciones</a>
        </li>
      </ul>



    </div>
  </nav>
</header>
